

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body {
    height: 100vh;
    overflow: hidden;
    background-image: -webkit-linear-gradient(bottom left, rgba(30,159,255, 0.5), rgba(1,170,237, 0.75)), -webkit-linear-gradient(rgba(1,170,237, 0.25) 100%, transparent), url("../images/bg.jpg");
    background-image: linear-gradient(to top right, rgba(30,159,255, 0.5), rgba(1,170,237, 0.75)), linear-gradient(rgba(1,170,237, 0.25) 100%, transparent), url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 15px;
    text-transform: uppercase;
}

h1:after {
    content: "";
    display: block;
    width: 120px;
    height: 4px;
    margin: 28px auto -2px;
    background-color: currentcolor;
}

h1,
p {
    margin: 30px 0;
}

.content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    max-width: 660px;
    padding: 0 30px;
    text-align: center;
    -webkit-transform: translate(-50%, 50vh);
    transform: translate(-50%, 50vh);
    opacity: 0;
    -webkit-animation: 0.25s 0.25s forwards slide_in;
    animation: 0.25s 0.25s forwards slide_in;
}

@-webkit-keyframes slide_in {
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes slide_in {
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
.home-top{
    position: absolute;
    z-index: 99999;
    top: 0;
    left:0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color:#000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    background-color:rgba(0,0,0,0.5); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}
.home-top ul li {
    float: right;
    font-size: 14px;
}
.home-btn{
    border:1px solid #fff;
    border-radius: 10px;
    background-color:#fff;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    background-color:rgba(0,0,0,0); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}
.home-footer{
    font-size: 14px;
    color: #c2c2c2;
    text-align: center;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left:0;
    right: 0;
    height: 150px;
    background-color:#000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    background-color:rgba(0,0,0,0.5); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}