<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商田全支付</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--<link href="./static/favicon.ico" rel="shortcut icon">-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css">
</head>
<body>
<div class="home-top layui-header">
    <ul class="layui-layout-left">
        <li class="layui-nav-item">
            <!--<img src="./static/images/st_logo.png" alt="商田全支付" width="120px;">-->
        </li>
    </ul>
    <ul class="layui-layout-right">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li class="layui-nav-item">
            <!--<img src="./static/images/ali.png" width="30px" alt="支付宝">-->
        </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li class="layui-nav-item">
            <!--<img src="./static/images/wechat.png" width="30px" alt="微信">-->
        </li>
    </ul>
</div>
<div class='content'>
    <h1>这里写标题</h1>
    <p>这里写小标题</p>
    <a class="layui-btn layui-btn-lg home-btn" href="/login/login.html">登录</a>
</div>
<div class="home-footer">
    <div style="margin-top:35px;">
        <div style="font-size: 18px;">这里写公司</div>
        <div>这里写地址</div>
        <div>这里写电话</div>
    </div>
</div>
</body>
</html>