
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css">
  <link rel="stylesheet" th:href="@{/fly/css/global.css}" href="../../static/fly/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <!--<img src="../../res/images/logo.png" alt="layui">-->
    </a>
  </div>
</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="reg.html">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">账号</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="account" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <!--<div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <span style="color: #c00;">{{d.vercode}}</span>
                </div>
              </div>-->
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="login" lay-submit>立即登录</button>
                <!--<span style="padding-left:20px;">
                  <a href="forget.html">忘记密码？</a>
                </span>-->
              </div>
              <div class="layui-form-item fly-form-app">
                <span>或者使用社交账号登入</span>
                <a href="javascript:;" onclick="layer.msg('敬请期待')" class="iconfont icon-qq" title="QQ登入"></a>
                <a href="javascript:;" onclick="layer.msg('敬请期待')" class="iconfont icon-weibo" title="微博登入"></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="javascript:;" target="_blank">项目名</a> 2018 &copy; <a href="javascript:;" target="_blank">公司名 出品</a></p>
  <p>
    <a href="javascript:;" target="_blank">模块一</a>
    <a href="javascript:;" target="_blank">模块二</a>
    <a href="javascript:;" target="_blank">模块三</a>
  </p>
</div>

<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script>
layui.use(['layer','form'],function () {
    var form=layui.form;
    var $=layui.jquery;
    form.on('submit(login)',function (data) {
        var requestParam=data.field;
        var index=layer.load();
        $.post('/login/login',requestParam,function (data) {
            layer.msg(data.msg);
            if(data.code===200){
                localStorage.setItem("token",data.object);
                $.ajax({url:"",type:"get"})
            }
            layer.close(index);
        })
    })
})
</script>

</body>
</html>